<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886891249964-lutl8de7htl7d5r35eki7coog6a3rnfm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886891249964-lutl8de7htl7d5r35eki7coog6a3rnfm</string>
	<key>API_KEY</key>
	<string>AIzaSyA2oIf57ltfvXR5qhIkstaxvjQzuSIrctk</string>
	<key>GCM_SENDER_ID</key>
	<string>886891249964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lk.emtechmart.slpost</string>
	<key>PROJECT_ID</key>
	<string>slpost-f8ac9</string>
	<key>STORAGE_BUCKET</key>
	<string>slpost-f8ac9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886891249964:ios:347b0df4ed37f17cd6ac89</string>
</dict>
</plist>